
# Ignore email settings source file 
# and encrypted deployment file
/src/email.cr3
/src/email_Enc.cr3

# Ignore settings file for reports
# to ScadaBR
/src/scadabr.cr3
/src/scadabr_Enc.cr3

Thumbs.db

# CSI table definition file
*.tdf

# LibeOffice lock files
*.ods#

/ref/*.pdf
/ref/*.zip
/ref/*.cr1
